<!-- Footer -->
<footer class="footer general_background_secondary">
  <div class="section-heading">
    <p>
      <strong>DAppBoard</strong> is a <a href="https://www.ethereum.org/">Ethereum</a> analytics platform.
    </p>
  </div>
</footer>
