<!-- Footer -->
<footer class="footer general_background_secondary">
  <div class="columns">
    <div class="column is-12">
      <center>
        <p>
          <strong>DAppBoard</strong> is a <a href="https://www.ethereum.org/">Ethereum</a> analytics platform.
        </p>
        <br>
        <a href="https://github.com/DAppBoard" target="_blank">
      <span class="icon has-text-black">
        <i class="fab fa-github"></i>
      </span>
    </a>
    &nbsp;路&nbsp
        <a href="https://twitter.com/dappboardTeam" target="_blank">
    <span class="icon has-text-black">
      <i class="fab fa-twitter"></i>
    </span>
  </a>
  &nbsp;路&nbsp
      <a href="https://medium.com/dappboard" target="_blank">
  <span class="icon has-text-black">
    <i class="fab fa-medium"></i>
  </span>
</a>

  <p class="">
    <br>
  <a href="/tokens">ERC20 token list</a> &nbsp;路&nbsp;
  <a href="/nfts">NFT token list</a> &nbsp;路&nbsp;
  <a href="/contact">Contact us</a>
</p>
      </center>
    </div>
</footer>
