<!-- START NAV -->
   <nav class="navbar">
       <div class="container">
           <div class="navbar-brand">
               <a class="navbar-item" href="../">
                       DAppBoard
                   </a>
               <span class="navbar-burger burger" data-target="navbarMenu">
                       <span></span>
               <span></span>
               <span></span>
               </span>
           </div>
           <div id="navbarMenu" class="navbar-menu">
               <div class="navbar-end">
                   <a class="navbar-item is-active">
                           About
                       </a>

                   <div class="navbar-item has-dropdown is-hoverable">
                       <a class="navbar-link">
                               Tokens
                           </a>
                       <div class="navbar-dropdown">
                           <a class="navbar-item">
                                   List
                               </a>
                           <a class="navbar-item">
                                   Velocity
                               </a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </nav>
   <!-- END NAV -->
