<!DOCTYPE html>
<html>
  <head>
    <title>DAppBoard</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
    <%/* <meta name="robots" content="noindex"> */%>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bulma-tooltip.min.css">
    <link rel="stylesheet" href="/styles/bulma.min.css">
    <link rel="stylesheet" href="/styles/c3.css">
    <link rel="stylesheet" href="/styles/date-range-picker.css">
    <link rel="stylesheet" href="/styles/font-awesome.css">
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/office.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- include('header'); %>

    <%- body %>

    <%- include('footer'); %>


    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/jquery.js"></script>
    <script src="/dependencies/lodash.js"></script>
    <script src="/dependencies/moment.js"></script>
    <script src="/dependencies/d3.js"></script>
    <script src="/dependencies/c3.js"></script>
    <script src="/dependencies/vue.js"></script>
    <script src="/dependencies/vue-table.js"></script>
    <script src="/dependencies/vue-trend.js"></script>
    <script src="/dependencies/parasails.js"></script>
    <script src="/dependencies/chart.js"></script>
    <script src="/dependencies/daterangepicker.js"></script>
    <script src="/dependencies/global_helpers.js"></script>
    <script src="/dependencies/global_tooltips.js"></script>
    <script src="/js/components/address/adress_etherscan_link.js"></script>
    <script src="/js/components/contracts/contract_image.js"></script>
    <script src="/js/components/general/general_trend_line.js"></script>
    <script src="/js/components/office/office_token_edit.js"></script>
    <script src="/js/components/tokens/token_image.js"></script>
    <script src="/js/pages/contracts/contracts_token_page.js"></script>
    <script src="/js/pages/contracts/contracts_token.js"></script>
    <script src="/js/pages/landing/home.js"></script>
    <script src="/js/pages/office/tokens.js"></script>
    <script src="/js/pages/tokens/tokens_list.js"></script>
    <!--SCRIPTS END-->

    <script>
    </script>
  </body>
</html>
