<section class="hero is-fullheight" style="background-image: url('images/hello_background1.png'); background-position: left bottom; background-repeat: no-repeat;">
   <div class="hero-body">
     <div class="container has-text-centered">
       <div class="column is-6 is-offset-3">
         <h2 class="title is-2 has-text-white">Ooops... It seems you are lost!</h3>
         <p class="has-text-white">
           <a href="/app">See contracts</a> &nbsp;·&nbsp;
           <a href="/contact/add">Submit a contract</a> &nbsp;·&nbsp;
           <a href="/help">Need Help?</a>
         </p>
       </div>
     </div>
   </div>
 </section>
