<section class="hero is-fullheight" style="background-image: url('images/hello_background1.png'); background-position: left bottom; background-repeat: no-repeat;">
   <div class="hero-body">
     <div class="container has-text-centered">
       <div class="column is-6 is-offset-3">
         <h2 class="title is-2 has-text-black">Ooops... It seems you are lost!</h3>
         <p class="">
           <a href="/">Home</a> &nbsp;·&nbsp;
           <a href="/tokens">ERC20 token list</a> &nbsp;·&nbsp;
           <a href="/nfts">NFT token list</a> &nbsp;·&nbsp;
           <a href="/contact">Contact us</a>
         </p>
       </div>
     </div>
   </div>
 </section>
