<center style="padding-top:40px; padding-bottom:40px;">
  <h3 class="title">Do you want to add your application or get custom analytics?</h3>
    <a class="button is-medium is-info" href="/iwantadashboard">Contact us</a>
</center>
