<div id="page_dapp_bounties_bounty" class="container " style="margin-top: 20px; margin-bottom: 20px; ">
  <div class="card" style="padding: 20px;">
<h3 class="title"><img src="/images/dapps/bounties.png" style="height: 0.8em; margin-right: 20px;"></img><a href="/dapp/bounties">The Bounties Network</a> > Bounty #<%= bounty %></h3>
<p>Learn more about this bounty at <a target="_blank" href="https://explorer.bounties.network/bounty/<%= bounty %>">bounties.network</a>.</p>
<hr>
<h3 class="title is-4">Activity</h3>
<v-server-table url="/api/dapp/bounties/activity/<%= bounty %>" :columns="columns" :options="options">
  <center slot="timestamp" slot-scope="props">
    <from-now :timestamp="props.row.timestamp"></from-now>
  </center>
  <center slot="type" slot-scope="props">
    <p v-if="props.row.type =='BountyIssued'" style="color: #000000">Bounty Issued</p>
    <p v-if="props.row.type =='ContributionAdded'"><span style="color: #000000">Contribution Added</span> by <address_etherscan_link :address="props.row.topic_1"></address_etherscan_link></p>
    <p v-if="props.row.type =='BountyActivated'" style="color: #000000">Bounty Activated</p>
    <p v-if="props.row.type =='BountyFulfilled'" ><span style="color: #9e9d24">Bounty Fulfilled</span> by <address_etherscan_link :address="props.row.topic_1"></address_etherscan_link></p>
    <p v-if="props.row.type =='FulfillmentAccepted'" ><span style="color: #558b2f">Fulfillment Accepted</span> by <address_etherscan_link :address="props.row.topic_1"></address_etherscan_link></p>
    <p v-if="props.row.type =='PayoutIncreased'" style="color: #000000">Payout Increased</p>
    <p v-if="props.row.type =='BountyKilled'" style="color: #000000">Bounty Killed</p>
    <p v-if="props.row.type =='BountyChanged'" style="color: #000000">Bounty Changed</p>
    <p v-if="props.row.type =='IssuerTransferred'" style="color: #000000">Issuer Transferred</p>
    <p v-if="props.row.type =='DeadlineExtended'" style="color: #000000">Deadline Extended</p>
  </center>
  <center slot="transaction_hash" slot-scope="props">
    <transaction_etherscan_link :tx="props.row.transaction_hash"></transaction_etherscan_link>
  </center>


</v-server-table>
</div>
</div>
