<div id="page_dapp_zrx">
<h3 class="title">0x protocol</h3>
<p>0x is a decentralized protocol for trading digital assets on Ethereum.</p>
<v-server-table url="/api/dapp/0x/pairs" :columns="columns" :options="options">

</v-server-table>
</div>
