<div id="page_dapp_compound" class="container " style="margin-top: 20px; margin-bottom: 20px; ">
  <div class="card" style="padding: 20px;">
<h3 class="title"><img src="/images/dapps/compound.png" style="height: 0.8em; margin-right: 20px;"></img>Compound</h3>
<p><strong>Compound</strong> is an open-source protocol for algorithmic, efficient Money Markets on the Ethereum blockchain.</p>
<hr>
<h3 class="title is-4">Activity</h3>
<v-server-table url="/api/dapp/compound/activity" :columns="columns" :options="options">
</v-server-table>
</div>
</div>
