
.general_value_positive {
  color: green;
}

.general_value_negative {
  color: red;
}

.general_background_normal {
  background-color: #ECEFF3;
}

.general_background_secondary {
  background-color: #BBDDFC;
}

.c3-circle {
    stroke-width: 2px;
    stroke: #fff;
}


html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  line-height: 1.5;
  background: #ECF0F3;
  height: 100%;
}

.box {
  border-radius: 2px;
}
