<div id="landing-home">
  <section class="hero is-info is-medium is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">Analytics for the Ethereum applications, <br>We guide you through an always expanding ecosystem.</h1>
      </div>
    </div>
  </section>
  <div class="container">
    <!-- START ARTICLE FEED -->
    <section class="articles">
      <div class="column is-8 is-offset-2">
        <!-- START ARTICLE -->
        <div class="card article">
          <div class="card-content">
            <div class="media">
              <div class="media-content has-text-centered">
                <p class="title article-title">Introducing a new feature for paid subscribers</p>
                <div class="tags has-addons level-item">
                  <span class="tag is-rounded is-info">@skeetskeet</span>
                  <span class="tag is-rounded">May 10, 2018</span>
                </div>
              </div>
            </div>
            <div class="content article-body">
              <p>Non arcu risus quis varius quam quisque. Dictum varius duis at consectetur lorem. Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. </p>
              <p>Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. In hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Accumsan lacus vel facilisis volutpat. Non sodales neque sodales ut etiam. Est pellentesque
                elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus.</p>
              <h3 class="has-text-centered">How to properly center tags in bulma?</h3>
              <p> Proper centering of tags in bulma is done with class: <pre>level-item</pre> Voluptat ut farmacium tellus in metus vulputate. Feugiat in fermentum posuere urna nec. Pharetra convallis posuere morbi leo urna molestie. Accumsan lacus vel facilisis
                volutpat est velit egestas. Fermentum leo vel orci porta. Faucibus interdum posuere lorem ipsum.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>

<style>
.hero-body
{background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Plum_trees_Kitano_Tenmangu.jpg/1200px-Plum_trees_Kitano_Tenmangu.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 500px;
}

div.column.is-8:first-child {
  padding-top: 0;
  margin-top: 0;
}

.articles {
  margin: 5rem 0;
  margin-top: -200px;
}
</style>
