<div id="tokens-list" currentPeriod="dfksdfjfdsh">
  <h1>List of tokens</h1>
  <v-server-table url="/api/tokens/list" :columns="columns" :options="options">
    <p slot="name" slot-scope="props" class="table_center_title">
      <token_image :size="50" :name="props.row.name" :symbol="props.row.symbol" :address="props.row.address"></token_image>
    </p>
    <center slot="transfers" slot-scope="props">
      <general_trend_line data_key="transfers" :days="7" :data="props.row.item"></general_trend_line>
      <strong>{{ props.row.transfers.toLocaleString() }}</strong>
    </center>
    <center slot="transfers_today" slot-scope="props" class="table_center_number">
      <strong>{{ props.row.transfers_today.toLocaleString() }}</strong>
    </center>
    <center slot="receivers_today" slot-scope="props" class="table_center_number">
      <strong>{{ props.row.receivers_today.toLocaleString() }}</strong>
    </center>
    <center slot="senders_today" slot-scope="props" class="table_center_number">
      <strong>{{ props.row.senders_today.toLocaleString() }}</strong>
    </center>
  </v-server-table>
</office_token_edit>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

<style>
.table_center_number {
  margin-top: 25px;
}
.table_center_title {
  margin-top: 10px;
}
</style>
