<div id="contracts-page-events" class="columns" id="contracts-token" style="margin-bottom: 0;">
  <div class="column is-2 sidemenu_container" style="padding-right:0;" >
    <%- include('menu'); %>
  </div>
  <div class="column is-10 general_background_normal ">
    <div class="box" style="margin:10px;">
      <nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
      <h1 class="title">Events</h1>
    </div>
  </div>

  <!-- Right side -->
  <div class="level-right">
    <p class="level-item">    <input type="text" id="tokendaterange" class="input" style="  float: right;"  />
</p>
  </div>
</nav>

    <hr>
    <div class="columns">
      <div class="column is-12">
        <canvas id="contracts_events_timeline"></canvas>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column is-6">
        <h4 class="title is-6">Distribution</h4>
        <canvas id="contracts_events_donut"></canvas>
      </div>
    </div>

</div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
