<aside class="menu">
  <p class="menu-label">

  </p>
  <ul class="menu-list">
    <li ><a class="<%= contracts.nav == 'home' ? 'is-active': '' %>">Dashboard</a></li>
    <li ><a class="<%= contracts.nav == 'token' ? 'is-active': '' %>">Token</a></li>

  </ul>

</aside>
