<div class="columns" id="contracts-token">
  <div class="column is-2">
    <%- include('menu'); %>
  </div>
  <div class="column is-10 general_background_normal">
    HERE WILL BE SOME DOPE TOKEN INFOS TOKEN
  </div>
</div>
